<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jumao.testplugin">

    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="MainActivityAlias"
            android:icon="@mipmap/ic_launcher"
            android:label="MainActivityAliasLabel"
            android:targetActivity="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".process.contentprovider.BookProvider"
            android:authorities="com.jumao.testplugin"
            android:exported="false" />

        <activity
            android:name=".PlanListActivity"
            android:label="@string/activity_title_plan_list" />

        <activity
            android:name=".process.contentprovider.ui.BookActivity"
            android:label="@string/activity_title_book"
            android:process="book.provider" />

    </application>

</manifest>